<%- include("header") -%>

<table id="tracker-table" class="table table-bordered">
  <thead>
		<tr>
			<th>Company</th>
			<th>Type</th>
			<th>Stage</th>
			<th>Role</th>
			<th>Tasks</th>
			<th>Notes</th>
			<th>Actions</th>
		</tr>
  </thead>
	<tbody>
		<% for(let i = 0; i <company_list.length; i++){ %>
			<tr>
				<td><%= company_list[i].company_name %></td>
				<td><%= company_list[i].type %></td>
				<td><%= company_list[i].stage %></td>
				<td><%= company_list[i].role %></td>
				<td>
					<ul>
						<% for(let j = 0; j <company_list[i].tasks.length; j++){ %>
							<li><%= company_list[i].tasks[j].task %></li>
						<% } %>
					</ul>
				</td>
				<td>
					<ul>
						<% for(let j = 0; j <company_list[i].notes.length; j++){ %>
							<li><%= company_list[i].notes[j] %></li>
						<% } %>
					</ul>
				</td>
				<td><a href="<%= company_list[i].url%>/update"><img src="/images/pencil.png"></a></td>
			</tr>
		<% } %>
	</tbody>
</table>
<a href="/tracker/companies/create"><button class="create-btn btn btn-primary">Add new company</button></a>

<%- include("footer") -%>