<%- include("header") -%>

<table id="tracker-table" class="table table-bordered">
  <thead>
		<tr>
			<th>Company</th>
			<th>Name</th>
			<th>Role</th>
			<th>Email</th>
			<th>Actions</th>
		</tr>
  </thead>
	<tbody>
		<% for(let i = 0; i <company_list.length; i++){ %>
			<% if(company_list[i].contacts.length != 0){ %>
				<tr>
					<td rowspan="<%= company_list[i].contacts.length %>"><%= company_list[i].company_name %></td>
					<td><%= company_list[i].contacts[0].name %></td>
					<td><%= company_list[i].contacts[0].role %></td>
					<td><%= company_list[i].contacts[0].email %></td>
					<td><a href="<%= company_list[i].contacts[0].url%>/update"><img src="/images/pencil.png"></a></td>
				</tr>
				<% for(let j = 1; j <company_list[i].contacts.length; j++){ %>
					<tr>
						<td><%= company_list[i].contacts[j].name %></td>
						<td><%= company_list[i].contacts[j].role %></td>
						<td><%= company_list[i].contacts[j].email %></td>
						<td><a href="<%= company_list[i].contacts[j].url%>/update"><img src="/images/pencil.png"></a></td>
					</tr>
				<% } %>
			<% } %>
		<% } %>
	</tbody>
</table>
<a href="/tracker/contacts/create"><button class="create-btn btn btn-primary">Add new contact</button></a>

<%- include("footer") -%>