<%- include("header") %>

	<form method="post" action="">
		<div class="form-group">
			<label for="interviewFormCompany">Select company*</label>
			<select id="interviewFormCompany" class="form-control" name="company_id">
				<option value="" selected></option>
				<% for(let i=0; i <company_list.length; i++){ %>
					<option value="<%= company_list[i]._id %>" <%= company_list[i].selected ? "selected" : "" %>><%= company_list[i].company_name %></option>
				<% } %>
			</select>
		</div>
		<div class="form-group">
			<label for="interviewFormDate">Date*</label>
			<input type="date" class="form-control" name="date" id="interviewFormDate" value="<%= interview_date %>">
		</div>
		<div class="form-group">
			<label for="interviewFormLocation">Location</label>
			<input type="text" class="form-control" name="interview_location" id="interviewFormLocation" value="<%= interview.interview_location %>">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

	<% if(errors){ %>
		<div class="error-list">
			<ul>
				<% for(let i=0; i <errors.length; i++){ %>
					<li>
						<%= errors[i].msg %>
					</li>
					<% } %>
			</ul>
		</div>
	<% } %>

<%- include("footer") %>