<%- include("header") -%>

<table id="tracker-table" class="table table-bordered">
  <thead>
		<tr>
			<th>Company</th>
			<th>Notes</th>
		</tr>
  </thead>
	<tbody>
		<% for(let i = 0; i <company_list.length; i++){ %>
			<% if(company_list[i].notes.length != 0){ %>
				<tr>
					<td rowspan="<%= company_list[i].notes.length %>"><%= company_list[i].company_name %></td>
					<td><%= company_list[i].notes[0] %></td>
				</tr>
				<% for(let j = 1; j <company_list[i].notes.length; j++){ %>
					<tr>
						<td><%= company_list[i].notes[j] %></td>
					</tr>
				<% } %>
			<% } %>
		<% } %>
	</tbody>
</table>
<a href="/tracker/notes/create"><button class="create-btn btn btn-primary">Add new note</button></a>

<%- include("footer") -%>