<%- include("header") -%>

<table id="tracker-table" class="table table-bordered">
  <thead>
		<tr>
			<th>Company</th>
			<th>Tasks</th>
			<th>Due Date</th>
			<th>Actions</th>
		</tr>
  </thead>
	<tbody>
		<% for(let i = 0; i <company_list.length; i++){ %>
			<% if(company_list[i].tasks.length != 0){ %>
				<tr>
					<td rowspan="<%= company_list[i].tasks.length %>"><%= company_list[i].company_name %></td>
					<td><%= company_list[i].tasks[0].task %></td>
					<td><%= company_list[i].tasks[0].due_date %></td>
					<td><a href="<%= company_list[i].tasks[0].url%>/update"><img src="/images/pencil.png"></a></td>
				</tr>
				<% for(let j = 1; j <company_list[i].tasks.length; j++){ %>
					<tr>
						<td><%= company_list[i].tasks[j].task %></td>
						<td><%= company_list[i].tasks[j].due_date %></td>
						<td><a href="<%= company_list[i].tasks[j].url%>/update"><img src="/images/pencil.png"></a></td>
					</tr>
				<% } %>			
			<% } %>
		<% } %>
	</tbody>
</table>
<a href="/tracker/tasks/create"><button class="create-btn btn btn-primary">Add new task</button></a>

<%- include("footer") -%>